{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main class="main">

    <!-- Index Section -->
    <section id="index" class="index section dark-background">

      <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Claudio Zamorano</h2>
        <p>Soy un <span class="typed" data-typed-items="Desarrollador, Consultor, Freelancer">Desarrollador</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Index Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up" style="text-align: justify;">
        <h2>Sobre mí</h2>
        <p>Como desarrollador de software, me especializo en construir aplicaciones robustas y flexibles. Mi objetivo es siempre aprender y adaptarme, manteniéndome al día con las últimas tendencias tecnológicas para ofrecer soluciones innovadoras a problemas desafiantes.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="{% static 'assets/img/my-profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content" style="text-align: justify;">
            <h2>Desarrollador Web Backend</h2>
            <p class="fst-italic py-3">
              Creo firmemente en la importancia de un código limpio y mantenible. Para mí, el desarrollo de software no es solo una cuestión de resolver problemas técnicos, sino también de crear soluciones que sean fáciles de entender y mantener a largo plazo. Me encanta colaborar en equipo, compartiendo conocimientos y aprendiendo de los demás para lograr los mejores resultados posibles.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>+569 40635844</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Correo:</strong> <span>czamorano@claudev.cl</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Título:</strong> <span>Ingeniero en Informática</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              Mi objetivo es consolidar mis habilidades como desarrollador backend, especializándome en la creación de sistemas escalables y seguros en la nube. 
              Aspiro a dominar tecnologías como AWS, Azure, y/o Google Cloud, para diseñar e implementar infraestructuras que soporten aplicaciones de alto rendimiento. 
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Skills Section -->
    <section id="skills" class="skills section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Conocimientos</h2>
        <p>Estas son mis principales competencias:</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">

          <div class="col-lg-6">

            <div class="skill-item d-flex align-items-center mb-4">
              <i class="bi bi-code-slash skill-icon"></i>
              <span class="skill-title ms-3">Lenguajes de programación: Python, JavaScript</span>
            </div><!-- End Skill Item -->
          
            <div class="skill-item d-flex align-items-center mb-4">
              <i class="bi bi-filetype-html skill-icon"></i>
              <span class="skill-title ms-3">Lenguajes de marcado y estilos: HTML, CSS</span>
            </div><!-- End Skill Item -->
          
            <div class="skill-item d-flex align-items-center mb-4">
              <i class="bi bi-globe skill-icon"></i>
              <span class="skill-title ms-3">Nivel de inglés: B2</span>
            </div><!-- End Skill Item -->
          
            <div class="skill-item d-flex align-items-center mb-4">
              <i class="bi bi-server skill-icon"></i>
              <span class="skill-title ms-3">Servidores: Nginx, Gunicorn</span>
            </div><!-- End Skill Item -->
          
          </div>

          <div class="col-lg-6">

            <div class="skill-item d-flex align-items-center mb-4">
              <i class="bi bi-database skill-icon"></i>
              <span class="skill-title ms-3">Bases de datos: MySQL, MariaDB, SQLite, Oracle</span>
            </div><!-- End Skill Item -->
          
            <div class="skill-item d-flex align-items-center mb-4">
              <i class="bi bi-robot skill-icon"></i>
              <span class="skill-title ms-3">Herramientas: ChatGPT, Claude 3.5 Sonnet, Docker</span>
            </div><!-- End Skill Item -->
          
            <div class="skill-item d-flex align-items-center mb-4">
              <i class="bi bi-layers skill-icon"></i>
              <span class="skill-title ms-3">Frameworks: Django, Bootstrap</span>
            </div><!-- End Skill Item -->
          
            <div class="skill-item d-flex align-items-center mb-4">
              <i class="bi bi-cloud skill-icon"></i>
              <span class="skill-title ms-3">Cloud: AWS</span>
            </div><!-- End Skill Item -->
          
          </div>
          

        </div>

      </div>

    </section><!-- /Skills Section -->

    <!-- Experience Section -->
    <section id="experience" class="experience section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up" style="text-align: justify;">
        <h2>Experiencia</h2>
        <p>A lo largo de mi carrera, he adquirido y perfeccionado habilidades en desarrollo de software, integración de sistemas y análisis de requerimientos. Mi enfoque ha sido siempre proporcionar soluciones eficientes y efectivas, que no solo satisfacen las necesidades del cliente, sino que también impulsan el crecimiento y la innovación en las organizaciones con las que colaboro.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100" style="text-align: justify;">

            <h3 class="experience-title">Educación</h3>
            <div class="experience-item">
              <h4>Ingeniería en Informática</h4>
              <h5>2020-2023</h5>
              <p><em>Instituto Profesional DUOC UC</em></p>
            </div><!-- End Experience Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200" style="text-align: justify;">
            <h3 class="experience-title">Experiencia Profesional</h3>
            <div class="experience-item">
              <h4>Consultor Técnico</h4>
              <h5>2024 - Presente</h5>
              <p><em>Iconcreta</em></p>
              <ul>
                <li>Lideré el desarrollo y mantenimiento del chatbot corporativo, un producto diseñado para ser implementado en inmobiliarias, optimizando la experiencia del usuario e integrando eficazmente la solución con las plataformas internas de la empresa.</li>
                <li>Encabecé la integración de SendGrid con Microsoft Dynamics 365 CRM, automatizando procesos de comunicación y mejorando la eficiencia en la gestión de correos transaccionales y de marketing.</li>
                <li>Desarrollé y mantuve reportes personalizados utilizando SQL Server Reporting Services (SSRS) en Visual Studio, entregando informes precisos que apoyan la toma de decisiones empresariales.</li>
                <li>Tomé requerimientos de clientes y analicé sus necesidades técnicas, proporcionando soluciones personalizadas para mejorar la funcionalidad y el rendimiento del CRM.</li>
              </ul>
            </div><!-- End Experience Item -->

          </div>

        </div>

      </div>

    </section><!-- /Experience Section -->

    <!-- Projects Section -->
    <section id="projects" class="projects section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Proyectos</h2>
        <p>Te invito a explorar algunos de mis proyectos recientes, donde aplico mis conocimientos en desarrollo web, integración de sistemas y mucho más. Cada uno de estos trabajos representa un paso adelante en mi carrera, mostrando mi compromiso con la excelencia y la innovación tecnológica.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter=".filter-web" data-layout="masonry" data-sort="original-order">

          <ul class="projects-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*">Todas</li>
            <li data-filter=".filter-web" class="filter-active">Aplicaciones Web</li>
            <li data-filter=".filter-desktop">Aplicaciones de Escritorio</li>
            <li data-filter=".filter-mobile">Aplicaciones Móviles</li>
          </ul><!-- End Projects Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-web">
              <div class="projects-content h-100">
                <img src="{% static 'assets/img/portfolio/app-1.jpg' %}" class="img-fluid" alt="">
                <div class="projects-info">
                  <h4>Chatbot Iconcreta</h4>
                  <p>Destinado al rubro inmobiliario</p>
                  <a href="{% static 'assets/img/portfolio/app-1.jpg' %}" title="Chatbot Iconcreta" data-gallery="projects-gallery-web" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'web_app_1' %}" title="Más Detalles" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-web">
              <div class="projects-content h-100">
                <img src="{% static 'assets/img/portfolio/app-2.jpg' %}" class="img-fluid" alt="">
                <div class="projects-info">
                  <h4>En desarrollo</h4>
                  <p>Sin Descripción</p>
                  <a href="{% static 'assets/img/portfolio/app-2.jpg' %}" title="App 2" data-gallery="projects-gallery-web" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'project_details' %}" title="Más Detalles" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-web">
              <div class="projects-content h-100">
                <img src="{% static 'assets/img/portfolio/app-2.jpg' %}"class="img-fluid" alt="">
                <div class="projects-info">
                  <h4>En desarrollo</h4>
                  <p>Sin Descripción</p>
                  <a href="{% static 'assets/img/portfolio/app-2.jpg' %}" title="App 3" data-gallery="projects-gallery-web" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'project_details' %}" title="Más Detalles" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-desktop">
              <div class="projects-content h-100">
                <img src="{% static 'assets/img/portfolio/app-2.jpg' %}" class="img-fluid" alt="">
                <div class="projects-info">
                  <h4>En desarrollo</h4>
                  <p>Sin Descripción</p>
                  <a href="{% static 'assets/img/portfolio/app-2.jpg' %}" title="App 1" data-gallery="projects-gallery-desktop" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'project_details' %}" title="Más Detalles" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-desktop">
              <div class="projects-content h-100">
                <img src="{% static 'assets/img/portfolio/app-2.jpg' %}" class="img-fluid" alt="">
                <div class="projects-info">
                  <h4>En desarrollo</h4>
                  <p>Sin Descripción</p>
                  <a href="{% static 'assets/img/portfolio/app-2.jpg' %}" title="App 2" data-gallery="projects-gallery-desktop" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'project_details' %}" title="Más Detalles" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-desktop">
              <div class="projects-content h-100">
                <img src="{% static 'assets/img/portfolio/app-2.jpg' %}" class="img-fluid" alt="">
                <div class="projects-info">
                  <h4>En desarrollo</h4>
                  <p>Sin Descripción</p>
                  <a href="{% static 'assets/img/portfolio/app-2.jpg' %}" title="App 3" data-gallery="projects-gallery-desktop" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'project_details' %}" title="Más Detalles" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-mobile">
              <div class="projects-content h-100">
                <img src="{% static 'assets/img/portfolio/app-2.jpg' %}" class="img-fluid" alt="">
                <div class="projects-info">
                  <h4>En desarrollo</h4>
                  <p>Sin Descripción</p>
                  <a href="{% static 'assets/img/portfolio/app-2.jpg' %}" title="App 1" data-gallery="projects-gallery-mobile" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'project_details' %}" title="Más Detalles" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-mobile">
              <div class="projects-content h-100">
                <img src="{% static 'assets/img/portfolio/app-2.jpg' %}" class="img-fluid" alt="">
                <div class="projects-info">
                  <h4>En desarrollo</h4>
                  <p>Sin Descripción</p>
                  <a href="{% static 'assets/img/portfolio/app-2.jpg' %}" title="App 2" data-gallery="projects-gallery-mobile" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'project_details' %}" title="Más Detalles" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 project-item isotope-item filter-mobile">
              <div class="projects-content h-100">
                <img src="{% static 'assets/img/portfolio/app-2.jpg' %}" class="img-fluid" alt="">
                <div class="projects-info">
                  <h4>En desarrollo</h4>
                  <p>Sin Descripción</p>
                  <a href="{% static 'assets/img/portfolio/app-2.jpg' %}" title="App 3" data-gallery="projects-gallery-mobile" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="{% url 'project_details' %}" title="Más Detalles" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Projects Item -->

          </div><!-- End Projects Container -->

        </div>

      </div>

    </section><!-- /Projects Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contacto</h2>
        <p>Si estás interesado en colaborar o tienes alguna pregunta, no dudes en enviarme un mensaje. Estoy aquí para ayudarte:</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
            
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Llámame</h3>
                  <p>+569 40635844</p>
                </div>
              </div><!-- End Info Item -->
            
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Contáctame</h3>
                  <p>czamorano@claudev.cl</p>
                </div>
              </div><!-- End Info Item -->

              <!-- Placeholder to maintain layout -->
              <div style="width: 100%; height: 354px;"></div>
            </div>
          </div>

          <div class="col-lg-7">
            <form id="contact-form" action="{% url 'contact' %}" method="post" class="django-email-form" data-aos="fade-up" data-aos-delay="200">
              {% csrf_token %}
              
              <div class="row gy-4">
                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Tu nombre</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>
            
                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Tu correo</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>
            
                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Asunto</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>
            
                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Mensaje</label>
                  <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                </div>
            
                <div class="col-md-12 text-center">
                  <div class="loading mb-3">Enviando...</div>
                  <div class="error-message"></div>
                  
                  <button type="submit" id="submit-button">Enviar Mensaje</button>
                  <div id="success-message" style="display:none;">
                    Tu mensaje ha sido enviado. ¡Gracias!
                  </div>
                </div>
              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

{% endblock %}
